body{
        background:black;
        font-family:Arial;
        margin:0;
        padding:20px;
        color:white;
    }

    /* NAVBAR */
    .navbar{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:15px;
        border:2px solid #ccc;
        border-radius:15px;
        margin-bottom:30px;
        position:sticky;
        top: 0;
        z-index: 2;
        background-color: burlywood;
    }

    .left, .right{
        display:flex;
        align-items:center;
        gap:15px;
    }

    .logo{
        width:40px;
        height:40px;
        border-radius:8px;
    }

    .logout{
        padding:6px 15px;
        border:1px solid white;
        border-radius:8px;
        background:none;
        color:white;
        cursor:pointer;
    }

    .card{
        width:350px;
        background:#65dbe3;
        border-radius:20px;
        padding-bottom:20px;
        overflow:hidden;
        margin-top:30px;
        position:relative;
    }

    .card img{
        width:100%;
        height:220px;
        object-fit:cover;
        border-radius:20px 20px 0 0;
    }

    .card h1{
        color:white;
        margin:15px;
    }

    .card p{
        color:white;
        margin:15px;
    }
    .container{
        display:grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap:20px;
    }
   
    .heart{
        position:absolute;
        top: 10px;
        right:10px;
        width:30px !important;
        height: 30px !important;
        
    } 